body{
    background-color: hsl(0, 0%, 86%);
    width: 1440px;
    height: 100vh;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif
}

.main-container{
    background: hsl(0, 0%, 100%);
    width: 700px;
    margin: 0 auto;
    margin-top: 150px;
    height: 500px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 122px;
}
/* -------------------------style container inputs------- */
.container-inputs {
    border: 1px solid red;
    width: 95%;
    height: 200px;
    margin: 0 auto;
    padding-left: 4px;
    display: flex;
    justify-content:left;
    align-items: center;
    position: relative;
}
.container-inputs input{
    width: 130px;
    margin-right: 68px;
    height: 50px;
    margin-top: 8px;
    display: flex;
    border-radius: 6px;
    background-color: white;
    border: 1px solid hsl(0, 0%, 86%);
}

.container-inputs img{
    width: 80px;
    height: 80px;
    background-color: hsl(259, 100%, 65%);
    border-radius: 100%;
    position: absolute;
    top: 160px;
    left: 585px;
}

/* ------------style age content--------------------- */

.age-content{
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 20px;
    width: 670px;
    height: 200px;
    font-size: 22px;
    font-weight: bold;
}

